<body>
    <center><h1 style=color:red><font size=7><%=p1_name%> Please pick a word for <%=p2_name%> to play hang man with!!</font></h1>

        <center><h1 style=color:red><font size=6><%=p2_name%> You will be guessing <%=p1_name%>'s word. <font size=6><font color=blue></font></font></font></h1></center>
<form method="post" action="secretword">
<input type="password" name="word">
<input type="submit">
<input type="hidden" name="player1" value='<%=p1_name%>'>
<input type="hidden" name="player2" value='<%=p2_name%>'>



</form>
<!--background = "https://s-media-cache-ak0.pinimg.com/originals/f4/af/e4/f4afe418e6428ccadc1a98804b6b12e4.png" alt="image_here"-->
